<div id="results">
    <form role="form" ng-submit="adddata()">
        Login   <br><input type="text" name="name" class="form-control" data-ng-model="formData.login">
        First Name   <br><input type="text" name="name" class="form-control" data-ng-model="formData.first_name">
        Last Name   <br><input type="text" name="name" class="form-control" data-ng-model="formData.last_name">
        Password  <br><input type="password" name="name" class="form-control" data-ng-model="formData.pass"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {{message}}

</div>
